{% extends 'core/base.html' %} {% load static %} {% block title %}tannerySuite
{% endblock %} 

{% block content %}
<div class="container">
  <div class="row mt-4">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-house-add"></i> Lotti
          </h5>
          <hr />
          <p class="card-text">
            Elenco Lotti
            <br>
            Numero lotti disponibili = {{ num_lotti_disponibili }}
          </p>
          <a
            href="{% url 'magazzino:home_lotti' %}"
            class="btn btn-sm btn-primary"
            >Vai alla sezione</a
          >
          
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><i class="bi bi-archive"></i> Palletts</h5>
          <hr />
          <p class="card-text">
            Elenco Palletts
            
          </p>
          <a
            href="{% url 'magazzino:home_palletts' %}"
            class="btn btn-sm btn-primary"
            >Vai alla sezione</a
          >
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-person-workspace"></i> Movimenti Magazzino
          </h5>
          <hr />
          <p class="card-text">
            Gestisci movimenti
          </p>
          <a href="{% url 'magazzino:home_stock_movements' %}" class="btn btn-sm btn-secondary">Vai alla sezione</a>

          <!--{% if scadenze_formazione > 0 %}
        
                    <button onclick="goToTrainingSchedule()" type="button" class="btn btn-primary btn-sm position-relative float-end ">
                        Prossime scadenze
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                            {{ scadenze_formazione }}
                        <span class="visually-hidden">Prossime scadenze</span>
                        </span>
                    </button>
                  {% endif %}
                </div>-->
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-house-add"></i> Scelte disponibili
          </h5>
          <hr />
          <p class="card-text">
            <h4>Stock dei pallet raggruppati per Scelta</h4>
              <table>
                  <thead>
                      <tr>
                          <th>Scelta</th>
                          <th>Totale Pezzi Netti</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for pallet in pallets_scelta %}
                          <tr>
                              <td>{{ pallet.descrizione }}</td>
                              <td class="text-end">{{ pallet.total_net_stock }}</td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </p>
          
          
        </div>
      </div>
    </div>

    

    
  </div>
  
</div>
{% endblock %} {% block extra_scripts %}
<script>
  //function goToMaintenanceSchedule(){
  //        document.location.href = "#"
  //    }
  //
  //function goToTrainingSchedule(){
  //        document.location.href = "#"
  //    }
</script>
{% endblock %}
